<li>
  <a href="#preloaders">Preloaders</a>
  <ul class="nav">
    <li><a href="#preloaders-spinning">Spinning preloader</a></li>
    <li><a href="#preloaders-spinning-sizes">Spinning preloader sizes</a></li>
    <li><a href="#preloaders-linear">Linear preloader</a></li>
    <li><a href="#preloaders-linear-sizes">Linear preloader sizes</a></li>
  </ul>
</li>
<li>
  <a href="#toggles">Toggles</a>
  <ul class="nav">
    <li><a href="#toggle-std-toggle">Standard toggles</a></li>
    <li><a href="#toggle-btn-group-text">Button group - Text</a></li>
    <li><a href="#toggle-btn-group-icons">Button groups - Icons</a></li>
    <li><a href="#toggle-btn-group-multiple-icons">Button groups - Multiple icons</a></li>
  </ul>
</li>
